.DS_Store
__pycache__
.python-version
.snakemake

# Test file
taxdump.tar.gz
dag.pdf
sum_test.txt
summary_test.txt
test_amelioration_eval_0.01

# Executables
*.pyc

# Distribution
*.egg-info

# test files
.cache

# coverage files
.coverage*
coverage.xml
htmlcov
junit_tests.xml

# pycharm project files
.idea